.section .myjobred {
    color: var(--principal-red);
    font-family: var(--inconsolata);
    
}

.section h1 {
    font-family: var(--asap);
    color: var(--gray-600);
    padding-top: 8px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-200);
    width: 1366px;
    height: 917px;
    padding-top: 72px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 3 colunas ajustáveis */
    gap: 24px; /* Espaço entre os cards */
    padding: 80px;
    max-width: 1200px;
    margin: auto;
}

.grid div:hover {
    border: 1px solid var(--gray-400);
}

.grid div {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--gray-300);
    height: 280px;
    width: 330px;
    border-radius: 12px;
    overflow: hidden; /* Garante que nada "vaze" do card */
}

.grid img {
    align-self: center;
    width: 306px;
    height: 156px;
    border-radius: 8px;
    margin-top: 12px;
}

.grid h3 {
    color: var(--gray-600);
    font-size: var(--title-sm);
    font-family: var(--asap);
    padding-left: 12px;
    padding-top: 20px;
    font-weight: bold;
}

.grid p {
    color: var(--gray-500);
    font-size: var(--title-sm);
    font-family: var(--maven);
    padding: 12px;
}

.services {
    width: 1366px;
    height: 480px;
    background-color: var(--gray-100);
    padding-top: 88px;
}

.services h3 {
    color: var(--principal-red);
    font-family: var(--inconsolata);
    font-size: var(--title-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.services h2 {
    color: var(--gray-600);
    font-family: var(--asap);
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    margin: auto;
    width: 888px;
}

.card div {
    width: 280px;
    height: 155px;
    background-color: var(--gray-100);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 12px;

}

.card-content {
    width: 240px;
    height: 115px;
    color: var(--gray-600);
    text-align: left;
    font-family: var(--maven);
    padding: 20px;
}

.card-content h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-content p {
    color: var(--gray-500);
    font-size: small;
}